:root {
  --color-main: #303846;
  --color-inverse: #ffffff;
  --color-secondary: #30d4b2;
  --color-grey: #d8d8d8;
  --color-light-grey: #f7f7f7;
  --font-family: "Arimo", sans-serif;
}

/* COMMON */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  min-width: 1040px;
  color: var(--color-main);
  font: 82% / 1.5 var(--font-family); /* 82% = 13px */
}

section {
  padding: 45px 0;
}

h1 {
  font-size: 275%;
}

h2 {
  font-size: 195%;
}

h2,
p {
  margin: 10px 0;
}

h3 {
  font-size: 135%;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.logo {
  margin: 0;
  align-items: center;
  font-weight: bold;
}

.logo img {
  margin-right: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  font: bold 100% / 1 var(--font-family);
  color: var(--color-secondary);
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

/* HEADER */
.main-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 0 15px;
  font-size: 90%;
  font-weight: bold;
  background-color: var(--color-inverse);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.5);
}

.main-nav {
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav li:not(:first-child) {
  margin-left: 15px;
}

.main-nav a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: var(--color-main);
}

.main-nav a:hover {
  border-bottom-color: var(--color-main);
  transition: border-color 0.5s;
}

/* SECTION PROMO */
.section-promo {
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  background: var(--color-main) url(../images/banner.png) no-repeat center 70% / 130%;
  color: var(--color-inverse);
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-promo h1 {
  margin: 0;
}

.section-promo img {
  margin-bottom: 10px;
}

.section-promo h1 {
  font-size: 290%;
  line-height: 1.1;
}

.section-promo p {
  font-size: 15px;
  margin: 0 0 15px;
}

.section-promo .btn {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--color-inverse);
  border-color: var(--color-inverse);
}

/* SECTION FEATURES */
.section-features ul {
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-features li {
  width: 30%;
}

/* SECTION ABOUT & PLACES*/
.section-about {
  background-color: var(--color-light-grey);
}

.section-about .wrapper,
.section-places .wrapper {
  justify-content: space-around;
}

.section-about .wrapper {
  flex-direction: row-reverse;
}

.section-text {
  flex-basis: 425px;
}

/* SECTION APPLY */
.section-apply {
  background-color: var(--color-light-grey);
  padding-bottom: 65px;
}

.section-apply .wrapper {
  width: 370px;
}

.section-apply h2 {
  margin-bottom: 25px;
  text-align: center;
}

.section-apply fieldset {
  margin-bottom: 15px;
  padding: 10px 15px 15px;
  border: 2px solid var(--color-secondary);
}

.section-apply legend {
  font-size: 130%;
  font-weight: bold;
  color: var(--color-secondary);
}

.section-apply label {
  margin-bottom: 8px;
  width: 100%;
  align-items: center;
}

.section-apply label span {
  flex-basis: 50%;
  font-weight: bold;
}

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  outline: none;
  font: 90% / 1 var(--font-family);
}

input:focus,
select:focus {
  border-color: var(--color-secondary);
  transition: border-color 0.3s;
}

input {
  flex-basis: 50%;
  padding: 5px 10px;
}

select {
  width: 120px;
  padding: 9px 15px 8px 10px;
  background: url(../images/dropdown.png) no-repeat top 50% right 5px / 5px #ffffff;
}

/* FOOTER */
footer {
  padding: 50px 0 60px;
  background-color: var(--color-main);
  color: var(--color-inverse);
  font-size: 85%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer .flex-container {
  justify-content: space-between;
}

footer h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

footer ul {
  margin: 0;
  padding-left: 35px;
  line-height: 1.3;
}

footer a {
  border-bottom: 1px solid transparent;
  color: var(--color-inverse);
  text-decoration: none;
}

footer a:hover {
  border-bottom: 1px solid var(--color-inverse);
  transition: border-color 0.5s;
}
