:root {
  --color-main: #303846;
  --color-inverse: #ffffff;
  --color-secondary: #30d4b2;
  --color-grey: #d8d8d8;
  --color-light-grey: #f7f7f7;
  --font-family: "Arimo", sans-serif;
}

/* COMMON */
* {
  box-sizing: border-box;
}

body {
  min-width: 1040px;
  font: 80% / 1.5 var(--font-family);
  color: var(--color-main);
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

section {
  padding: 50px 0 55px;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-25 {
  margin-bottom: 25px;
}

.width-30 {
  width: 30%;
}

.width-420 {
  width: 420px;
}

.text-align-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FLEX */
.flex-container {
  display: flex;
}

.direction-rr {
  flex-direction: row-reverse;
}

.justify-sb {
  justify-content: space-between;
}

.justify-sa {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.flex-basis-50 {
  flex-basis: 50%;
}

/* LINKS */
.link-reset {
  text-decoration: none;
  color: inherit;
}

.link {
  border-bottom: 1px solid transparent;
}

.link:hover {
  border-bottom-color: var(--color-main);
  transition: border-color 0.5s;
}

.link-inverse:hover {
  border-bottom-color: var(--color-inverse);
}

/* LISTS */
.list-reset {
  list-style: none;
}

/* FONT-SIZES */
h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 115%;
}

.fsize-s {
  font-size: 90%;
}

.fsize-xs {
  font-size: 85%;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 10px;
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  font: bold 110% / 1 var(--font-family);
  color: var(--color-secondary);
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.btn-inverse {
  color: var(--color-inverse);
  border-color: var(--color-inverse);
}

.btn-wide {
  padding-left: 25px;
  padding-right: 25px;
}

/* HEADER */
.header {
  padding-top: 50px;
}

.nav {
  position: fixed;
  min-height: 50px;
  left: 0;
  top: 0;
  right: 0;
  padding: 0 15px;
  background-color: var(--color-inverse);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.5);
}

/* SECTION PROMO */
.section-promo {
  padding: 30px 0;
  background: var(--color-main) url(../images/banner.png) no-repeat left 70% / 130%;
  color: var(--color-inverse);
  line-height: 1.2;
}

.promo-subheading {
  margin-bottom: 20px;
  font-size: 120%;
}

/* SECTION APPLY */
.section-apply,
.section-about {
  background-color: var(--color-light-grey);
}

.section-apply {
  padding-bottom: 65px;
}

.apply-form {
  margin: 0 auto;
  width: 370px;
}

.apply-form-fieldset {
  margin-bottom: 15px;
  padding: 10px 15px 15px;
  border: 2px solid var(--color-secondary);
}

.apply-form-legend {
  font-size: 140%;
  color: var(--color-secondary);
}

.input,
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--color-grey);
  border-radius: 9px;
  outline: none;
  font: 85% / 1 var(--font-family);
}

.input:focus,
.select:focus {
  border-color: var(--color-secondary);
  transition: border-color 0.3s;
}

.input {
  padding: 5px 10px;
}

.select {
  width: 120px;
  padding: 8px 15px 8px 10px;
  background: url(../images/dropdown.png) no-repeat top 50% right 5px / 5px #ffffff;
}

/* FOOTER */
.footer {
  padding: 50px 0 60px;
  background-color: var(--color-main);
  color: var(--color-inverse);
}

.footer-nav-list {
  padding-left: 30px;
  line-height: 1.3;
  list-style: disc;
}